{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Order Ride Interface</title>
	<link rel="stylesheet" href="{% static 'nav/styles.css' %}"/>
	<link rel="stylesheet" href="{% static 'nav/driver.css' %}"/>

	<!--Get Screen Dimensions-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<style>
	</style>
</head>
<body>
	<div id="orders-page">
		<div class="heading" id="accept-order-heading">Accept Orders:</div>
		<div id="orders-container">
			{% for trip in trips %}
			<div id="{{trip.id}}" class="order">
				<p>{{trip.pickUp}} to {{trip.dropOff}}</p>
			</div>
			{% endfor %}
		</div>
	</div>
		
	<!-- TODO: Make code for confirmation to accept trip-->
	<div id="trip-info-page">
		<p class="order-heading">Trip Accepted</p>
		<p class="order-heading" id="order-confirm">Passenger Notified</p>

		<!--Passenger Information-->
		<p class="heading">Passenger</p>
		<p class="order-info">Jane Doe</p>

		<!--Trip Information-->
		<p class="heading">Trip</p>
		<p class="order-info">Date: 20 April 2025</p>
		<p class="order-info">Requested: 17:00</p>
		<p class="order-info">Pick Up: Marenskey</p>
		<p class="order-info">Drop Off: Engineering III</p>

		<div class="ride-code-container">
			<p class="ride-code">CODE: 34822</p>
		</div>

		<!--
		<div id="-container";>
			{% for trip in trips %}

			<div id="{{trip.id}}" class="place" style="background-color: darkslategrey;">	
				<a id="{{trip.id}}" href="http://localhost:8000/trip?trip={{trip.id}}">
					<p id="time{{trip.name}}" > Time booked{{trip.booked}} </p><br>
					<p id="find{{trip.name}}" > Pick-up location{{trip.pickUp}} </p><br>
					<p id="drop{{trip.name}}" > Drop-off location{{trip.dropOff}} </p><br>
					<p id="pass{{trip.name}}" > Passenger: {{trip.passenger}} </p><br>
					<p id="code{{trip.name}}" > Passenger code:{{trip.code}} </p>
				</a>
			</div>

			{% endfor %}
		</div>
		-->
	</div>

	<div id="cancel-trip-container">
		<button id="cancel-trip">Cancel</button>
	</div>
	<script src="{% static 'nav/js/location.js' %}"></script>
	<script src="{% static 'nav/js/driver_nav.js' %}"></script>
</body>
</html>
