{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Order Ride Interface</title>
	<link rel="stylesheet" href="{% static 'nav/styles.css' %}"/>

	<!--Get Screen Dimensions-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
	<nav>
		<input class="text-field" id="search" type="search" placeholder="Search Places"/>
	</nav>

	<div id="events">
		<p class="heading">Events</p>
		<div id="events-container">
			<div class="event"><p>Nasty C concert</p></div>
		</div>
	</div>

	<main>
		<p class="heading">Places</p>
		<div id="places-container">
			{% for place in places %}
			<a id="{{place.name}}" href="http://localhost:8000/place?place={{place.id}}">
			<div id="{{place.name}}" class="place">
				<img id="{{place.name}}" src="{% static 'nav/images/exampleoldarts.jpg' %}" alt="Image of {{ place.name }}">
				<p id="{{place.name}}" > {{place.name}} </p> </div>
			</a>
			{% endfor %}
		</div>
	</main>


	<div id="ride-card">
		<input class="text-field" id="destination" placeholder="Select a destination" readonly="true"/>
		<button id="request-ride">Request</button>
	</div>

	<script src="{% static 'nav/js/location.js' %}"></script>
	<script src="{% static 'nav/js/script.js' %}"></script>
	<script>
		  document.addEventListener("DOMContentLoaded", function () {
			const links = document.querySelectorAll("a");

			links.forEach((link) => {
				link.href = link.href+`&lat=${encodeURIComponent(Math.floor(latitude*1000000)/1000000)}&long=${encodeURIComponent(Math.floor(longitude*1000000)/1000000)}`;
			});
		});
	</script>
</body>
</html>
