{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Order Ride Interface</title>
	<link rel="stylesheet" href="{% static 'nav/styles.css' %}"/>

	<!--Get Screen Dimensions-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<div id="user-back-button" class="back"></div>

	<nav>
		<input class="text-field" id="search" type="search" placeholder="Search Places"/>
	</nav>
	
	<div id="main-page">
		<!--
		<div id="events">
			<p class="heading">Events</p>
			<div id="events-container">
				<div class="event"><p>Piazza Festival</p></div>
			</div>
		</div>
		-->

		<main>
			<p class="heading">Places</p>
			<div id="places-container">
				{% for place in all %}
				<!--<a id="{{place.name}}" href="http://localhost:8000/place?place={{place.id}}">-->

				<div id="{{place.id}}" class="place" style="background-image: url('{% static 'nav/images/' %}{{ place.id }}.jpg')">					
					<p id="{{place.name}}" > {{place.name}} </p> </div>
				<!--</a>-->
				{% endfor %}
			</div>
		</main>

	</div>
	<div id="place-page"> 
		<article>
			<p id= "headPlace" class="heading">Engineering III</p>
			<div id="place-container">
				<div id="placeContainer1" class="place noninteractive" style=""></div>
			</div>

			<div id="description-container">
				<p id="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consequat ultrices felis, in vestibulum dui rhoncus eu.</p>
			</div>

		</article>
	</div>
	<div id="event-page">
		<article>
			<div id="events">
				<p class="heading">Piazza Festival</p>
				<div id="events-container">
					<div class="event noninteractive"></div>
				</div>
			</div>

			<div id="description-container">
				<p id="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consequat ultrices felis, in vestibulum dui rhoncus eu.</p>
			</div>

			<p class="heading">Location</p>
			<div id="location-container">
				<p id="location">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>

			<p class="heading">Time</p>
			<div id="time-container">
				<p id="location">12:00</p>
			</div>

		</article>
	</div>
	<div id="search-page">
		<p class="heading">Results</p>
		<div id="results-container">
			{% if search %}
			{% for place in places %}
			<!--<a id="{{place.name}}" href="http://localhost:8000/place?place={{place.id}}">-->

			<div id="{{place.id}}" class="place" style="background-image: url('{% static 'nav/images/' %}{{ place.id }}.jpg')">					
				<p id="{{place.name}}" > {{place.name}} </p> </div>
			<!--</a>-->
			{% endfor %}
			{% endif %}
		</div>
	</div>

	<div id="trip-page">
		<p id="trip-heading" class="trip-heading">Trip in progress...</p>
		<p class="trip-heading" id="trip-eta">Driver <span>3</span> minutes away</p>

		<div id="destination-container">
			<p id="trip-destination">Traveling to Engineering III</p>
			<div class="place noninteractive" id="trip-destination-pic"></div>

			<p id="distance">Distance: 500m</p>
			<p id="fare">Trip Fare: R50</p>
		</div>

		<div class="ride-code-container">
			<p id="ride-code" class="ride-code">CODE: 34822</p>
		</div>
	</div>

	<!-- Buttons -->
	<div id="go-to-container">
		<button id="go-to">Go To</button>
	</div>

	<div id="ride-card">
		<input class="text-field" id="destination" placeholder="Select a destination" readonly="true"/>
		<button id="request-ride">Request</button>
	</div>

	<div id="trip-card">
		<p id="trip-eta-card">3 minutes away</p>

		<div id="driver-price-container">
			<div id="driver-info-container">
				<div id="driver-profile"></div>
				<div id="driver-info-text">
					<p id="driver-name">John Doe</p>
					<p id="driver-location">Aula</p>
				</div>
			</div>

			<div id="trip-price">
				<p>R50</p>
			</div>
		</div>

		<button id="cancel-trip">Cancel</button>
	</div>

	<script src="{% static 'nav/js/location.js' %}"></script>
	<script src="{% static 'nav/js/nav.js' %}"></script>
	<script>
		getLocation();
	</script>

</body>
</html>
