{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Log In</title>

	<!--Get Screen Dimensions-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="{% static 'nav/styles.css' %}"/>
	<link rel="stylesheet" href="{% static 'nav/login.css' %}"/>
</head>
<body>
	<div id="login-container">
		<input id="username" class="text-field" type="text" placeholder="Username" />
		<input id="password" class="text-field" type="password" placeholder="Password"/>
		<button id="login">Log In</button>
	</div>
</body>

</html>
